.editor-styles-wrapper,
.editor-styles-wrapper .editor-writing-flow,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block p {
  font:    15px / 27px "offside", Helvetica, Arial, Verdana, sans-serif;
  word-spacing: normal;
}
.editor-styles-wrapper .wp-block-cover .wp-block-cover-text,
.editor-styles-wrapper .wp-block-cover h2 {
  font:    24px / 34px "offside", Helvetica, Arial, Verdana, sans-serif !important;
  text-transform: uppercase;
}
.text-big,
.dt-accordion-text-big .wpb_accordion_header > a {
  font-size: 15px;
  line-height: 27px;
}
.text-normal,
.dt-accordion-text-normal .wpb_accordion_header > a {
  font-size: 14px;
  line-height: 25px;
}
.text-small,
.dt-accordion-text-small .wpb_accordion_header > a {
  font-size: 13px;
  line-height: 23px;
}
.wp-block-heading h1,
.wp-block-freeform.block-library-rich-text__tinymce > h1 {
  font:    44px / 54px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h2,
.wp-block-freeform.block-library-rich-text__tinymce > h2 {
  font:    34px / 44px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h3,
.wp-block-freeform.block-library-rich-text__tinymce > h3 {
  font:    24px / 34px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.wp-block-heading h4,
.wp-block-freeform.block-library-rich-text__tinymce > h4 {
  font:    20px / 30px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h5,
.wp-block-freeform.block-library-rich-text__tinymce > h5 {
  font:    16px / 26px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.wp-block-heading h6,
.wp-block-freeform.block-library-rich-text__tinymce > h6 {
  font:    14px / 24px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.editor-styles-wrapper .wp-block .wp-block-button .wp-block-button__link {
  font:   bold 14px / 16px "Roboto", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
