.accent-bg-mixin {
  color: #fff;
  background-color: #3fb65d;
}
.accent-gradient .accent-bg-mixin {
  background: #3fb65d;
  background: -webkit-linear-gradient(135deg, #3fb65d 30%, #a6eab7 100%);
  background: linear-gradient(135deg, #3fb65d 30%, #a6eab7 100%);
}
.solid-bg-mixin {
  background-color: #f7f7f7;
}
.header-color {
  color: #414c6e;
}
.dt-mega-parent .sidebar-content .widget .header-color {
  color: #414c6e;
}
#main .sidebar-content .header-color {
  color: #333333;
}
.footer .header-color {
  color: #ffffff;
}
.color-base-transparent {
  color: #b4b5bb;
}
.sidebar-content .color-base-transparent {
  color: rgba(133,134,140,0.5);
}
.footer .color-base-transparent {
  color: rgba(255,255,255,0.5);
}
.outline-element-decoration .outline-decoration {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .shadow-decoration {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.testimonial-item:not(.testimonial-item-slider),
.testimonial-item .ts-viewport,
.bg-on.team-container,
.dt-team-shortcode.content-bg-on .team-container {
  background-color: #f7f7f7;
}
.outline-element-decoration .testimonial-item:not(.testimonial-item-slider),
.outline-element-decoration .testimonial-item .ts-viewport,
.outline-element-decoration .bg-on.team-container,
.outline-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0);
}
.shadow-element-decoration .testimonial-item:not(.testimonial-item-slider),
.shadow-element-decoration .testimonial-item .ts-viewport,
.shadow-element-decoration .bg-on.team-container,
.shadow-element-decoration .dt-team-shortcode.content-bg-on .team-container {
  -webkit-box-shadow: 0 6px 18px rgba(0,0,0,0.1);
  box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}
.dt-team-shortcode .team-content {
  font-size: 14px;
  line-height: 25px;
}
.testimonial-item .testimonial-vcard .text-secondary,
.testimonial-item .testimonial-vcard .text-primary,
.testimonial-item .testimonial-vcard .text-primary * {
  color: #414c6e;
}
.sidebar-content .testimonial-item .testimonial-vcard .text-secondary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary,
.sidebar-content .testimonial-item .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-item .testimonial-vcard .text-secondary,
.footer .testimonial-item .testimonial-vcard .text-primary,
.footer .testimonial-item .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.testimonial-item .testimonial-vcard a.text-primary:hover,
.testimonial-item .testimonial-vcard a.text-primary:hover * {
  text-decoration: underline;
}
.team-author p {
  color: #414c6e;
  font:    14px / 24px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
}
.dt-team-shortcode .team-author p {
  font:    15px / 27px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #3fb65d;
}
.accent-gradient .dt-team-shortcode .team-author p {
  background: -webkit-linear-gradient(left, #3fb65d 30%, #a6eab7 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .dt-team-shortcode .team-author p {
    color: #3fb65d;
  }
}
.dt-mega-parent .sidebar-content .widget .team-author p {
  color: #414c6e;
}
.sidebar-content .team-author p {
  color: #333333;
}
.footer .team-author p {
  color: #ffffff;
}
.testimonial-vcard .text-secondary {
  color: #414c6e;
  font-size: 13px;
  line-height: 23px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-secondary {
  color: #414c6e;
}
#main .sidebar-content .testimonial-vcard .text-secondary {
  color: #333333;
}
.footer .testimonial-vcard .text-secondary {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  font-size: 14px;
  line-height: 25px;
  font-weight: normal;
  color: #3fb65d;
}
.accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
  background: -webkit-linear-gradient(left, #3fb65d 30%, #a6eab7 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .dt-testimonials-shortcode .testimonial-vcard .text-secondary {
    color: #3fb65d;
  }
}
.dt-testimonials-shortcode .more-link {
  color: #3fb65d;
}
.testimonial-vcard .text-primary {
  color: #414c6e;
  font-size: 14px;
  line-height: 25px;
  font-weight: bold;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary {
  color: #414c6e;
}
#main .sidebar-content .testimonial-vcard .text-primary {
  color: #333333;
}
.footer .testimonial-vcard .text-primary {
  color: #ffffff;
}
.testimonial-vcard .text-primary * {
  color: #414c6e;
}
.dt-mega-parent .sidebar-content .widget .testimonial-vcard .text-primary * {
  color: #414c6e;
}
#main .sidebar-content .testimonial-vcard .text-primary * {
  color: #333333;
}
.footer .testimonial-vcard .text-primary * {
  color: #ffffff;
}
.dt-testimonials-shortcode .testimonial-vcard .text-primary {
  font: normal  normal 20px / 30px "offside", Helvetica, Arial, Verdana, sans-serif;
}
.team-author-name,
.team-author-name a {
  color: #414c6e;
  font: normal  normal 20px / 30px "offside", Helvetica, Arial, Verdana, sans-serif;
}
.content .team-author-name a:hover {
  color: #3fb65d;
}
.accent-gradient .content .team-author-name a:hover {
  background: -webkit-linear-gradient(left, #3fb65d 30%, #a6eab7 100%);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
@media all and (-ms-high-contrast: none) {
  .accent-gradient .content .team-author-name a:hover {
    color: #3fb65d;
  }
}
.widget .team-author-name,
.widget .team-author-name a {
  font:    16px / 26px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: none;
  color: #414c6e;
}
.dt-mega-parent .sidebar-content .widget .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .widget .team-author-name a {
  color: #414c6e;
}
#main .sidebar-content .widget .team-author-name,
#main .sidebar-content .widget .team-author-name a {
  color: #333333;
}
.footer .widget .team-author-name,
.footer .widget .team-author-name a {
  color: #ffffff;
}
.team-author-name,
.team-author-name a {
  color: #414c6e;
}
.dt-mega-parent .sidebar-content .widget .team-author-name,
.dt-mega-parent .sidebar-content .widget .team-author-name a {
  color: #414c6e;
}
#main .sidebar-content .team-author-name,
#main .sidebar-content .team-author-name a {
  color: #333333;
}
.footer .team-author-name,
.footer .team-author-name a {
  color: #ffffff;
}
.rsTitle {
  font:    44px / 54px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
.rsDesc {
  font:    34px / 44px "offside", Helvetica, Arial, Verdana, sans-serif;
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .rsTitle {
    font:    34px / 44px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    24px / 34px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 1024px) {
  .rsTitle {
    font:    24px / 34px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    20px / 30px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 800px) {
  .rsTitle {
    font:    16px / 26px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    font:    14px / 25px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
}
@media screen and (max-width: 320px) {
  .rsTitle {
    font:    14px / 25px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
  .rsDesc {
    display: none !important;
    font:    14px / 25px "offside", Helvetica, Arial, Verdana, sans-serif;
  }
}
#main-slideshow .progress-spinner-left,
#main-slideshow .progress-spinner-right {
  border-color: #3fb65d !important;
}
.slider-content .owl-dot:not(.active):not(:hover),
.slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):not(:hover),
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(65,76,110,0.35);
  box-shadow: inset 0 0 0 2px rgba(65,76,110,0.35);
}
.dt-mega-parent .sidebar-content .widget .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(65,76,110,0.35);
  box-shadow: inset 0 0 0 20px rgba(65,76,110,0.35);
}
.sidebar .slider-content .owl-dot:not(.active):not(:hover),
.sidebar .slider-content .owl-dot:not(.active):hover,
.sidebar-content .slider-content .owl-dot:not(.active):not(:hover),
.sidebar-content .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 2px rgba(133,134,140,0.35);
}
.sidebar .slider-content .owl-dot.active,
.sidebar-content .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
  box-shadow: inset 0 0 0 20px rgba(133,134,140,0.35);
}
.footer .slider-content .owl-dot:not(.active):not(:hover),
.footer .slider-content .owl-dot:not(.active):hover {
  -webkit-box-shadow: inset 0 0 0 2px rgba(255,255,255,0.35);
  box-shadow: inset 0 0 0 2px rgba(255,255,255,0.35);
}
.footer .slider-content .owl-dot.active {
  -webkit-box-shadow: inset 0 0 0 20px rgba(255,255,255,0.35);
  box-shadow: inset 0 0 0 20px rgba(255,255,255,0.35);
}
