h1, h2, h3, h4, h5, p, li, span, a {
    font-family: 'offside';
}

/* General */
.wf-wrap {
    padding: 0 !important;
}

.mobile-branding img {
    width: 20%;
}

.ur-frontend-form.ur-frontend-form--rounded form input[type=submit] {
    padding: 0px 46px;
    margin: auto;
}

/* Header */
.right-widgets .near-logo-first-switch {
    width: 17%;
}

.top-bar .microwidget-btn:hover {
    border-radius: 8px;
}

.right-widgets .header-elements-button-2 {
    width: 20%;
}

.right-widgets .weglot-shortcode {
    width: 100%;
    display: inline-flex;
    background-color: transparent;
}

/* .page-id-18 #main, .page-id-62 #main, .page-id-135 #main .page-id-139 #main {
    padding: 0 !important;
} */

.branding {
    width: 15%;
}

.logo-box img {
    width: 30%;
    height: auto;
}

.top-bar-bg {
    background-image: linear-gradient(to bottom right, #414c6e , #7992e0);
}

#phantom {
    background-color: #ffffff45
}

.branding-bottom img {
    width: 30%;
    height: auto;
}
/* Menu */
#primary-menu li:nth-child(5) {
    left: 50px;
}

#primary-menu .menu-item-83 .menu-item-text, #primary-menu .menu-item-84 .menu-item-text {
    background-color: #3fb65d;
    padding: 5px;
    width: 117px;
    border-radius: 8px;
    box-shadow: 3px 4px 6px 0px grey;
}

#primary-menu .menu-item-83 .menu-text, #primary-menu .menu-item-84 .menu-text {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 12px;
}

#primary-menu .menu-item-83 .menu-item-text:hover, #primary-menu .menu-item-84 .menu-item-text:hover {
    background-color: #80c34d;
}

#primary-menu li:nth-child(6) {
    left: 40px;
}

#phantom .main-nav .menu-item-83 .menu-text, #phantom .main-nav .menu-item-84 .menu-text {
    color: white !important;
}
/* fin General */

/* fin Header */
/* Home */
.ls-nav-prev, .ls-nav-next {
    background-color: rgba(136, 136, 136, 0.30);
}

#qwTextBox .product-box-home {
    box-shadow: 0 8px 15px silver;
    border-radius: 5px;
}

.qw-title-home {
    word-break: break-all;
}

.qw-title-home h1, .qw-subscriber-title h1 {
    font-weight: 900;
}

.qw-title-home p {
    font-size: 20px;
}

.product-box-home p {
    font-size: 15px;
}

#qwTextBox .first_box {
    border-top: 5px solid grey;
}

#qwTextBox .second_box {
    border-top: 5px solid #414c6e;
}

#qwTextBox .third_box {
    border-top: 5px solid #3fb65d;
}

#qwHomeProducts .flip-box-wrap {
    margin-bottom: 10px;
}

#qw-general-text-box .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern {
    color: white;
    border-color: 1px solid white;
    background-color: transparent;
}

#qw-general-text-box .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:focus {
    color: #5e5e5e;
    border-color: #dcdcdc;
    background-color: #dcdcdc;
}

#qw-general-text-box .vc_column-inner {
    width: 99%;
}

#qwCallToAction form {
    display: flex;
    justify-content: center;
}

#qwCallToAction p:nth-child(3) {
    margin-left: 15px;
}

/* fin Home */
/* Footer */
#branding-bottom img {
    width: 30%;
    height: auto;
}

#footer #archives-2 .widget-title, #footer #archives-2 li>a, #footer #categories-2 .widget-title, #footer #categories-2 .cat-item a {
    color: transparent;
}

#getContact a {
    display: flex;
}

#getContact a>div:nth-child(1) {
    width: 30%;
}

#branding-bottom {
    padding: 10px 15px 10px 246px !important;
}
/* fin Footer */
/* Sign Up */
.page-id-52 #page {
    background: white none repeat center top;
}
/* fin SignUp */
/* LogIn */
#qwLogIn {
    display: flex;
    justify-content: center;
}

#qwBlockLogin {
    width: 30%;
}

#qwLogIn #user-registration, #qwLogIn #user-registration .login {
    border-radius: 15px;
}

#qwLogIn #user-registration {
    background-color: hsla(0, 5%, 69%, 0.5);
}

#qwLogIn #user-registration label, #qwLogIn #user-registration h2, #qwLogIn #user-registration h3, #qwLogIn #user-registration span, #qwLogIn #user-registration p {
    color: white;
}

#qwLogIn #user-registration a {
    color: #91eaac;
}

.qw-login-title h2 {
    color: white;
    font-weight: 800;
    text-shadow: 1px 1px 3px rgba(22,22,22,0.39);
}
/* fin Login */
/* Profile */
#menu-members #menu-tablero {
    display: flex;
    justify-content: space-between;
    width: 30%;
    align-items: center;
}

#menu-members #menu-tablero  li {
    border: none;
}

#menu-tablero li {
    margin: 0;
    padding: 0;
}

#qwaccountUser .qw-profile-title {
    margin-bottom: 30px;
}

#qwApps>div {
    padding-left: 5px;
    padding-right: 5px;
}

#qwApps .vc_column-inner {
    height: 60vh;
}

#qwApps .wpb_column .wpb_text_column{
    background-color: hsla(0, 0%, 29%, 0.52);
    padding: 10px;
    border-radius: 8px;
}

#qwApps h3, #qwApps h4, #qwApps p {
    color: white;
}

#qwApps h3, #qwApps h4 {
    font-weight: 600;
}

#qwApps .qw-img-profile  {
    margin: 10px;
}
/* fin Prifile */
/* Admin */
.page-id-45 #main .wf-wrap {
    display: flex;
    justify-content: center;
}

#user-registration, #ur-frontend-form {
    border-radius: 8px;
}
/* fin Admin */
/* Language */
.country-selector {
    background-color: #3a3a3a8c;
    padding: 2px;
    border-radius: 3px;
}

.country-selector label, .country-selector  a {
    color:white;
}
/* fin Language */
/* Contacto */
.qw-main-title .wpb_wrapper {
    background-color: rgba(95, 94, 94, 0.67);
    margin: 0 334px;
    border-radius: 10px;
    padding: 14px 0;
}
/* fin Contacto */
