@font-face {
    font-family: 'Offside';
    src: url('Offside-Regular.eot');
    src: url('Offside-Regular.eot?#iefix') format('embedded-opentype'),
        url('Offside-Regular.woff2') format('woff2'),
        url('Offside-Regular.woff') format('woff'),
        url('Offside-Regular.ttf') format('truetype'),
        url('Offside-Regular.svg#Offside-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

